{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <center>
        <h1>{{ article.title }}</h1>
        <img src="{{ article.image.url }}" alt="{{ article.image }}">
        <p>{{ article.body }}</p>
        
        
      
        <button class="btn btn-warning">
            <a href="{% url 'edit_article' article.id %}" style="color: white; text-decoration: none;">Edit</a>
        </button>
        <button class="btn btn-danger">
            <a href="{% url 'delete_article' article.id %}" style="color: white; text-decoration: none;">Delete</a>
        </button>
        <br>
        <br>
        <a href="{% url 'index' %}" class="btn btn-primary">Go back</a><br><br>
    </center>
</body>
{% endblock %}
